body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url("assets/bg.jpg") no-repeat fixed center;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  color: salmon !important;
}

.btn-danger2 {
  background-color: salmon !important;
  color: #333;
  font-weight: bold;
}

.navbar-form .form-control {
  display: inline-block;
  min-width: 285px;
  vertical-align: middle;
}

.panel-heading {
  font-weight: bold;
}

.panel-heading a {
  text-decoration: none;
  color: #333;
}

th,
td {
  text-align: center;
}

.icon {
  margin-right: 10px;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #BBB;
  width: 22px;
  height: 22px;
}

.today {
  border-radius: 4px;
  background-color: #5CB85C;
  color: white;
}

.event {
  border-radius: 4px;
  background-color: #778899;
  color: white;
}

.badge {
  background-color: #778899;
  border-radius: 4px;
}

#suggestions {
  position: absolute;
  z-index: 1;
  margin-top: 2px;
  display: none;
}

.translation {
  background-color: #337AB7 !important;
}

#suggestions .list-group-item {
  background-color: #778899;
  color: white;
  cursor: pointer;
}

#suggestions .list-group-item:hover {
  background-color: #667788;
  color: white;
  cursor: pointer;
}

input[type=text]:focus {
  border: 1px solid #ccc !important;
}