body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url("assets/background.jpg") no-repeat fixed center;
  display: none;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  color: salmon !important;
}

.panel-heading {
  font-weight: bold;
}

th,
td {
  text-align: center;
}

.icon {
  margin-right: 10px;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #BBB;
}

.today {
  border-radius: 4px;
  background-color: #5CB85C;
  color: white;
}

.event {
  border-radius: 4px;
  background-color: #778899;
  color: white;
}

.badge {
  background-color: #778899;
  border-radius: 4px;
}

#suggestions {
  position: absolute;
  z-index: 1;
  margin-top: 2px;
  display: none;
}

.translation {
  background-color: #337AB7 !important;
}

#suggestions .list-group-item {
  background-color: #778899;
  color: white;
  cursor: pointer;
}

#suggestions .list-group-item:hover {
  background-color: #667788;
}

input[type=text]:focus {
  border: 1px solid #ccc !important;
}